@font-face {
    font-family: 'poppinsblack';
    src: url('../styles/components/fonts/GratelosDisplay.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'poppinsbold';
    src: url('../styles/components/fonts/GratelosDisplay.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'poppinsbold';
    src: url('../styles/components/fonts/GratelosDisplay.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'poppinsbold';
    src: url('../styles/components/fonts/GratelosDisplay.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'poppinsbold';
    src: url('../styles/components/fonts/GratelosDisplay.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'poppinsbold';
    src: url('../styles/components/fonts/GratelosDisplay.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }